@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


@theme {
  --font-plus-jakarta: 'Plus Jakarta Sans', sans-serif;
}
@theme {
  --font-playfair: 'Playfair Display', serif;
}
.playfair {
  font-family: var(--font-playfair);
}

.jakarta{
  font-family: var(--font-plus-jakarta);
}

 .marquee-container-up,
        .marquee-container-down {
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }

        .marquee-item {
          width: 100%;
          height: 280px;
          flex-shrink: 0;
        }

        .marquee-container-up {
          animation: scroll-up 40s linear infinite;
        }

        .marquee-container-down {
          animation: scroll-down 40s linear infinite;
        }

        @keyframes scroll-up {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-50%);
          }
        }

        @keyframes scroll-down {
          0% {
            transform: translateY(-50%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .marquee-container-up:hover,
        .marquee-container-down:hover {
          animation-play-state: paused;
        }
